<div ng-controller="aboutController">
  <h1 style="text-align:center">How To Use Treadstone</h1>
  <p>Treadway is the premiere bike route sharing web application on the internet!
  	Search for your current location on the main page to preview routes that other
  	bikers have already written, or create a profile to add your own routes.
  </p>
  <h1 style="text-align:center">About Calculating Camels</h1>
  <p style="text-align:center"><img width="500" src="../../styles/group_pic.jpg"></img></p>
  <p>The Calculating Camels is a patchwork group of coding mercenaries whose mother's are always telling them how smart they are. We got Jamie "Fore" Skinner on steez, Tyler "LiL T" Lambe on the back-end, Christian "Embarrasingly Low Tolerance" Brandalise and Charlie "Chuckwagon" Mcride on the the front-end angular tip, and Brian "Testmaster" Small on the testing/documentation. The Camels would like to thank Homeslice Pizza, Dominick the Central Texas Spotted Mutt, and Austin Beerworks for their nutritional and spiritual nourishment during this project.  

  </p>
  
</div>