<div ng-controller="aboutController">
	<div id="map-canvas"></div>
  <h3 style="text-align:center">How To Use Treadstone</h3>
  <p>Treadstone is the premiere bike route sharing web application on the internet!
  	Search for your current location on the main page to preview routes that other
  	bikers have already written, or create a profile to add your own routes.
  </p>
  <h3 style="text-align:center">About Calculating Camels</h3>
  <img width="500" src="../../styles/group_pic.jpg"></img>
 <p style="text-align:center">The Calculating Camels is a patchwork group of coding mercenaries whose mother's are always telling them how smart they are. Jamie Skinner did the styling and maps, Tyler Lambe built the back-end, Christian Brandalise and Charlie McBride built the front-end and maps, and Brian Small built the testing suite. The Camels would like to thank Homeslice Pizza, Dominick the Central Texas Spotted Mutt, Charlie's roommate Ashwin, and Austin Beerworks for their nutritional and spiritual nourishment during this project.</p>
</div>