<div ng-controller="aboutController">
	<div id="map-canvas"></div>
  <h1 style="text-align:center; text-shadow: 2px 2px #888888;">How To Use Treadstone</h1>
  <h3 style="text-shadow: 2px 2px #888888;">Treadstone is the premiere bike route sharing web application on the internet!
  	Search for your current location on the main page to preview routes that other
  	bikers have already written, or create a profile to add your own routes.
  </h3>
  <h1 style="text-align:center; text-shadow: 2px 2px #888888;">About Calculating Camels</h1>
  <p style="text-align:center; text-shadow: 2px 2px #888888;"><img width="500" src="../../styles/group_pic.jpg"></img></p>
  <h3 style="text-align:center; margin: 0 auto 0 auto; text-shadow: 2px 2px #888888;">The Calculating Camels is a patchwork group of coding mercenaries whose mother's are always telling them how smart they are. Jamie Skinner did the styling, Tyler Lambe built the back-end, Christian Brandalise and Charlie Mcride built the front-end, and Brian Small built the testing suite. The Camels would like to thank Homeslice Pizza, Dominick the Central Texas Spotted Mutt, Charlie's roommate Ashwin, and Austin Beerworks for their nutritional and spiritual nourishment during this project.</h3>
</div>