<div class='wrap-add'>
	Add a Route
	<div class='form-wrapper'>
		<form id='add-route'>
			<input type='text' placeholder='Enter your location (city and state, or address)' ng-model="location" />
			<input type='submit' value='Submit' ng-click="submit()"/>
		</form>
	</div>
	<div class="mapWrap clearfix">
		<div class="row">
			<div class="col-md-8">
			  <div id='map-canvas' map-directive=''></div>
			</div>
			<div class="col-md-4">
				<div id="directionsPanel">
					<p>Total Distance: <span id="total"></span></p>
				</div>
			</div>
			<input type="text" name="route-name" placeholder="Name your Route" ng-model="name"/>
			<input type="text" name="route-description" placeholder="Describe your Route" ng-model="description"/>
			<input type="submit" value="Save route" ng-click="saveRoute()"/>
		</div>
	</div>
</div>
