body{
  background-color : #F9B40C;
}
.wrapper{
  margin: auto;
  color: #080807;
}
/* HEADER */
.header{
  width:970px;
  margin:auto;

}
.logo{
  float:left;
  margin: 3px;
}
.masthead-brand{
  float: left;
}
.cover{
  color: black;
  width:100%;
  height:500px;
  /*background-image: url("bike-bg.jpg");*/
}
.inner-cover{
  width:970px;
  margin:auto;
  text-align: center;
}

#map-canvas{
  width: 500px;
  height: 500px;
}