body{
  color:white;
  background-color: #333;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
a, a:hover, a:visited{
  color:white;
}
button{
  background-color: #526CBF;
  border:none;
  border-radius: 3px;
  margin:3px;
  padding:5px 8px;
}
input, textarea{
  color:black;
}
.hr-400{
  margin:3px auto;
  width:350px;
}
.inner-wrap{
  width:1020px;
  margin:0 auto;
}

/* ~~~~~~~~~~~~~~~~~
     HOME PAGE 
 ~~~~~~~~~~~~~~~~~~~*/

#map-canvas{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  z-index: -1;
}

/* ~~~~~ HEADER AND NAV STYLES ~~~~ */
.header{
  border-radius: 3px;
  background-image: url('bg.png'); 
  color:white;
  margin: 30px auto;
  padding:10px 20px;
  width:400px;
  height:80px;
}
.brand{
  margin:0 auto;
  text-align: center;
  width:300px;

}
.masthead-brand{
  margin:0 3px;
}
.masthead-brand, .logo{
  float: left;
}
.navigation{
  width:400px;
  margin:0 auto;
}
.navigation ul{
  list-style: none;
  margin:0;
  padding:0;
}
.navigation ul li{
  float:left;
  margin: 0 15px;
}
.navigation ul li a{
  color: white;
  padding:2px;
}
/*~~~~~~~  "WHERE ARE YOU"  ~~~~~~~~*/
.inner-cover{
  text-align: center;
  color:white;
}
/*~~~~~~~ auth ~~~~~~~~~*/
.auth{
  margin:0 auto;
  width:300px;
}
.auth span{
  margin:3px;
}
/*~~~~~~~ addRoute ~~~~~~~~~~*/
#directionsPanel{
  color:#333;
  max-height: 400px;
  background-color: #F4F4F4;
  overflow: scroll;
}
.form-wrapper{
  margin:0 auto;
  text-align: center;
}


#map-canvas.embed{
  min-height:500px;
}
.mapWrap .row::before{
  content:none;
}
.loader{
  position:relative;
  z-index: 200;
  text-align: center;
  margin:100px auto;
}
/*~~~~~~ route view ~~~~~~~~*/
.routeView-wrapper{
  width:300px;
  margin-right:5px !important;
  position:relative;
  top:-30px;
  float:right;
}
.directions-header{
  color:black;
  background-color:white;
  margin:0;
  padding:15px;
  position: relative;
  top:6px;
  border-radius: 5px;

}

.routeView-wrapper #directionsPanel{
  background-color:white;
  border-radius: 5px;
  height:400px;
  padding:5px;
  position:static;
  width:300px;
  z-index: 200;
}
.adp-warnbox{
  display:none;
  width:0;
}
/*~~~~~~ ROUTES VIEW ~~~~~~~~*/
.routes{
  max-height: 100%;
  overflow: scroll;
}
.routes ul{
  list-style: none;
}
.route-img{
  width:150px;
  height:150px;
}



