
<div id="map-canvas"></div>
<div class = "">
<div ng-show="routes.hasOwnProperty('error')">
  <h3>We don't support your city yet!</h3>
</div>

<div  class="inner-wrap" ng-hide="routes.hasOwnProperty('error')">
  <h3>Showing routes for {{ city }}</h3>
  <div class ="routes">
    <ul>
      <li class="route clearfix" ng-repeat="route in routes">
        <div class="route-info">
          <h3><a href="#/route/{{route.id}}">{{route.data.routeName}}</a></h3>
          <p>{{route.data.routeDescription}}</p>
          <p>{{route.data.distance}}km</p>
        </div>
      </li>
    </ul>
  </div>
</div>

