<div class = "cover" >
  <div class="inner-cover">
    <h1 class="cover-heading">Where are you?</h1>
    <p class="lead">Treadstone helps you find a ocal bike route, visualize it, and explore new areas.</p>
    <p class="lead">
      <h3> Where are you?</h3>
      <form>
        <input class = "form-control" type = 'text' name = "location" placeholder = "Austin, Tx">
      </form>
    </p>
    <div class="mastfoot">
      <div class="inner">
        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </div>
  </div>

  
</div>